@tailwind base;

@tailwind screens;

@tailwind components;

@tailwind utilities;

@layer base {
  html {
    color: #FFFFFF;
    background-color: #1D2230;
  }
  body {
    @apply text-white subpixel-antialiased;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-position: 0 -30vh;
    background-repeat: no-repeat;
    background: radial-gradient(48.8% 62.34% at 50% 0%,rgba(31,46,60,0.9) 0%,rgba(29,34,48,0) 100%);
  }
  .bg-image {
    position: fixed;
    z-index: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url('/assets/img/cover_bg.png');
    background-size: cover;
  }
  h1 {
    @apply text-2xl font-bold pb-3 text-left;
  }
  h2 {
    @apply text-xl font-bold pb-3 text-left;
  }
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-primary {
    background: #FFBF00;
    color: #000;
  }
  header { 
    flex-direction: row;
    width: 100%;
    top: 0;
    position: relative;
    padding: 1rem 1rem;
    z-index: 2;
  }
  main {
    min-height: calc(100vh - 16rem);
    position: relative;
    z-index: 2;
  }
  footer {
    height: 8rem;
  }
  .logo-wrapper {
    display: flex;
    flex-direction: row;
    margin: 1rem 0 0;
    height: 7rem;
    justify-content: center;
  }
  .logo-wrapper span {
    display: flex;
    flex-direction: column;
  }
  .alchemist-logo {
    height: 18px;
    margin-left: .125rem;
  }
  .main-bg {
    background: transparent linear-gradient(296deg, #5b5ff5 0%, #7043f5 100%) 0% 0% no-repeat
      padding-box;
  }
  
  .main-content {
    
  }

  .color-yellow {
    color: #FFBF00;
  }
  footer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    top: 0px;
    position: relative;
    padding: 1rem;
    z-index: 0;
  }
  .footer-container {
    display: flex;
  }
  .footer-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    top: 0px;
    position: relative;
    z-index: 2;
  }
  .footer-item {
    display: flex;
    position: relative;
    margin: 0px 0.5rem;
    width: 2.25rem;
    height: 2.25rem;
  }
  .footer-item a {
    display: flex;
    position: absolute;
    top: 0px;
  }
  .footer-item a:hover .footer-item-icon {
    opacity: 1;
  }
  .footer-item-icon {
    display: flex;
    position: absolute;
    top: -2px;
    left: -2px;
    opacity: 0;
    transition: opacity 0.2s ease-in 0s;
    width: 40px;
    height: 40px;
  }
  .footer-item-icon > svg {
    height: 100%;
    width: auto;
  }
  .footer-item a > svg {
    height: 36px;
    width: auto; 
  }
}

@media screen and (max-width: 800px) {
  .main-content {
    flex-direction: column;
  }
}