@tailwind base;

@tailwind screens;

@tailwind components;

@tailwind utilities;

@layer base {
  html {
    color: #FFFFFF;
    background-color: #1D2230;
  }
  body {
    @apply text-white subpixel-antialiased;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-position: 0 -30vh;
    background-repeat: no-repeat;
    background: radial-gradient(48.8% 62.34% at 50% 0%,rgba(31,46,60,0.9) 0%,rgba(29,34,48,0) 100%);
  }

  h1 {
    @apply text-5xl mb-12 font-bold text-center;
    line-height: 1.33em;
  }
  h2 {
    @apply text-5xl font-bold text-center;
    line-height: 4.875rem;
  }
  h3 {
    @apply text-3xl font-bold mb-6;
  }
  h4 {
    @apply font-bold;
    font-size: 2rem;
    line-height: 1.375em;
  }

  b {
    @apply font-bold;
  }

  .container {
    max-width: 1240px;
  }

  .section-title {
    
  } 

  .btn-primary {
    @apply font-bold;
    background-color: #FFBF00;
    color: #000;
  }
  .btn-primary:hover {
    background-color: #e0a800;
  }

  .header-wrapper {
    @apply flex flex-col items-center justify-center;
    background-image: url('../img/landing/bg1.png');
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #000;
    position: relative;
    z-index: 3;
  }

  .header-wrapper * {
    z-index: 2;
    position: relative;
  }

  /* nav */
  .nav {
    @apply w-full flex justify-between;
    padding-top: 2.375rem;
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    background: linear-gradient(0deg, rgba(0,0,0,0.0) 0%, rgba(0,0,0,1) 100%);
  }

  .nav-btn {
    @apply flex items-center justify-center;
    border-radius: 30px;
    font-size: 18px;
    height: 60px;
    padding: 0 2.375rem;
    width: fit-content;
  }
  .nav-btn:first-child {
    margin-left: 3.75rem;
  }
  .nav-btn:last-child {
    margin-right: 3.75rem;
  }

  .nav-cta {

  }

  /* header */
  .main-cta {
    border-radius: 45px;
    font-size: 1.875rem;
    height: 5.625rem;
    padding: 0 3.75rem;
    position: relative;
    transform: translateY(50%)
  }
  .main-cta:after {
    background: linear-gradient(180deg, #FFBF00 -26.11%, rgba(255, 191, 0, 0) 58.89%);
    border-radius: 45px;
    content: '';
    cursor: default;
    height: 5.625rem;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    top: 102%;
    width: 100%;
  }
  
  main {
    min-height: calc(100vh - 16rem);
  }
  .logo-wrapper {
    display: flex;
    flex-direction: row;
    margin: 7.25rem 0 4rem;
    height: 15.25rem;
    justify-content: center;
  }
  .logo {
    height: 100%;
  }

  .alchemist-logo-wrapper {
    background-color: rgba(44, 20, 71, 0.57)
  }
  .alchemist-logo {
    height: 24px;
    margin-left: .125rem;
  }

  .header-list {
    margin-bottom: 1.5rem;
  }
  .header-item {
    @apply w-1/2;
    border-left: 2px solid #FFBF00;
  }
  .header-item:first-child {
    border-left: 0;
  }
  .header-item-desc {
    @apply text-lg font-normal;
    max-width: 30rem;
  }

  .main-bg {
    background: transparent linear-gradient(296deg, #5b5ff5 0%, #7043f5 100%) 0% 0% no-repeat
      padding-box;
  }
  
  .main-content {
    
  }

  .main-title {
    text-align: right;
  }

  .title-large {
    font-size: 6rem;
    line-height: 1em;
  }

  .color-yellow {
    color: #FFBF00;
  }

  .features-wrapper {
    background-image: url('../img/landing/bg2.png');
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #000;
    padding-top: 11rem;
    position: relative;
    z-index: 2;
  }

  .features-title {
    margin-bottom: 4.875rem;
  }

  .feature {
    @apply flex w-1/2;
    margin-bottom: 6.25rem;
  }
  .feature:nth-child(2n-1) {
    padding-right: 4rem;
  }
  .feature:nth-child(2n) {
    padding-left: 4rem;
  }

  .feature-content {
    padding: .25rem 2.5rem;
  }

  .feature-number {
    @apply font-bold flex justify-center items-center;
    background-color: rgba(37, 34, 60, 0.5);
    border: 1px solid #FFBF00;
    border-radius: 50%;
    color: #FFBF00;
    font-size: 2.5rem;
    height: 4.5rem;
    width: 4.5rem;
  }

  .feature-title {
    @apply mb-5;
    margin-top: 0.5rem;
  }

  .feature-paragraph {
    @apply text-lg font-normal;
  }

  .about-wrapper {
    background-image: url('../img/landing/bg3.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7rem 0 6rem;
  }

  .about-title {
    @apply mb-12;
  }

  .about-description {
    @apply container mx-auto font-light text-center;
    font-size: 1.875rem;
    line-height: 1.466em;
    margin-bottom: 3.75rem;
  }

  .about-list {
    @apply container mx-auto flex;
  }

  .about-item {
    @apply flex w-1/2;
    padding: 0 4.25rem;
  }

  .about-text {
    @apply font-light;
    font-size: 1rem;
    line-height: 1.45em;
    padding-left: 3rem;
  }

  .about-img {

  }

  .footer {
    @apply mt-40 flex flex-col items-center;
  }
  
  .footer-links {
    @apply flex justify-end text-sm font-bold mb-2;
  }

  .footer-line {
    @apply bg-primary;
    height: 2px;
    flex: 1;
  }

  .footer-item {
    @apply flex;
    position: relative;
    margin: 0px 1rem;
    width: 3.75rem;
    height: 3.75rem;
  }

  .footer-item a {
    display: flex;
    position: absolute;
    top: 0px;
  }

  .footer-item a:hover .footer-item-icon {
    opacity: 1;
  }
  .footer-item-icon {
    display: flex;
    position: absolute;
    top: -2px;
    left: -2px;
    opacity: 0;
    transition: opacity 0.2s ease-in 0s;
    width: 4rem;
    height: 4rem;
  }
  .footer-item-icon > svg {
    height: 100%;
    width: auto;
  }
  .footer-item a > svg {
    height: 3.75rem;
    width: auto; 
  }
}

.show-mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  .title-large {
    font-size: 4rem;
  }

  .main-content {
    flex-direction: column;
  }

  .main-title {
    text-align: center;
  }
}

/** Mobile **/
@media screen and (max-width: 640px) {
  html {
    font-size: 100%;
  }

  h1 {
    font-size: 2.25rem;
    margin-bottom: 4rem;
  }

  h2 {
    @apply text-left;
    font-size: 1rem;
    line-height: 1.5em;
  }

  h3 {
    margin-bottom: .5rem;
    line-height: 1.5em;
  }

  .nav {
    @apply justify-center;
    padding-top: 3.5rem;
    position: relative;
  }

  .nav-btn {
    height: 2.625rem;
    padding: 0 1.5rem;
  }
  .nav-btn:first-child {
    margin: 0;
  }

  .nav-cta {
    display: none;
  }

  .alchemist-logo-wrapper {
    font-size: 13px;
  }

  .alchemist-logo {
    height: 18px;
  }

  .logo-wrapper {
    margin: 2.5rem 0 1.25rem;
    height: 168px;
  }

  .main-cta {
    border-radius: 26px;
    font-size: 1.125rem;
    height: 3.375rem;
    padding: 0 2.25rem;
  }
  .main-cta:after {
    border-radius: 26px;
    height: 3.375rem;
  }

  /* header */
  .header-list {
    margin: 0;
  }

  .header-item {
    @apply w-full text-left;
    border: 0;
    margin-bottom: 2.5rem;
  }
  .header-item:nth-child(2n-1) {
    padding-right: 4rem;
  }
  .header-item:nth-child(2n) {
    @apply text-right;
    padding-left: 4rem;
  }
  .header-item:last-child {
    margin-bottom: 1.5rem;
  }

  .header-item_title {
    font-size: 1rem;
    position: relative;
  }
  .header-item_title:after {
    background-color: #FFBF00;
    content: '';
    width: 2px;
    height: 100%;
    left: -1.25rem;
    position: absolute;
  }

  .header-item:nth-child(2n) .header-item_title:after {
    left: auto;
    right: -1.25rem;
  }

  .header-item-desc {
    font-size: .75rem;
    line-height: 1.1875rem;
  }

  /* feature */
  .features-wrapper {
    padding-top: 9rem;
  }

  .features-title {
    border-left: 2px solid #FFBF00;
    margin-bottom: 2.5rem;
    padding: 0 1.5rem;
  }

  .feature {
    @apply w-full;
    margin-bottom: 2.5rem;
  }
  .feature:nth-child(2n-1),
  .feature:nth-child(2n) {
    padding: 0 .25rem;
  }

  .feature-title {
    @apply font-normal uppercase;
    font-size: .875rem;
    line-height: 1.5em;
    margin-bottom: .5rem;
  }

  .feature-content {
    padding: 0;
  }

  .feature-paragraph {
    font-size: .75rem;
    line-height: 1.583em;
  }

  .about-title {
    @apply mb-8 px-6;
    border-left: 2px solid #FFBF00;
  }

  .about-description {
    @apply mb-8 uppercase text-left;
    font-size: .875rem;
    line-height: 1.5em;
    letter-spacing: 2px;
    padding: 0 1.5rem;
  }

  .about-list {
    @apply flex-col;
  }

  .about-item {
    @apply w-full flex-col;
    padding: 0;
  }

  .about-text {
    font-size: .75rem;
    line-height: 1.66em;
    padding: 1.5rem 0;
  }

  .about-img-wrapper {
    height: 4.5rem;
  }

  .about-img {
    height: 100%;
    width: auto;
  }

  .footer {
    @apply mt-20;
  }

  .footer-links {
    @apply justify-center w-full mb-6;
  }

  .footer-item {
    margin: 0 0.5rem;
    height: 2.75rem;
    width: 2.75rem;
  }

  .footer-item a > svg {
    height: 2.75rem;
  }

  .footer-item-icon {
    width: 3rem;
    height: 3rem;
  }

  .footer-line {
    @apply hidden;
  }

  .show-mobile {
    display: initial;
  }
}

.particles-wrapper {
  position: relative;
}

.particles-js {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

.particles-js-blur {
  filter: blur(2px);
}